{% extends "AppCoder/index.html" %}

{% block headertitlle %}
    <title>User</title>
{% endblock %}

{% block bodytitleoptions %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!">Inventario personal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'TPFinalMain' %}">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
{% endblock %}

{% block bodyheader %}
    <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Cree su usuario</h1>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="datos-usuario">
            <form style="color:white; margin: length; width: 240px;" id="usuarios" name="usuarios" action="{% url 'TPFinalUsuariosCrear' %}" method="POST">
                <b>
                {% csrf_token %}
                    {{ formulariousuario.as_p }}
                <p><input type="submit" value="Submit" onclick="validate()"/></p>
                <br>
                </b>
            </form>
        </div>
    </header>
{% endblock %}