{% extends "AppCoder/main.html" %}

{% block title %}Login{% endblock %}

{% block bodytitleoptions %}
{% endblock %}

{% block bodyheader %}
<div class="text-center my-5">
    <h1 class="bodyheadertittle">{{tittle}}</h1>
</div>

{% endblock %}

{% block bodyoptions %}
<h3>Ingrese su nueva password</h3>
<form class="form" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
<button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Cambiar Password</button>
</form>
{% endblock %}

{% block bodycontact %}
{% endblock %}