{% extends "AppCoder/main.html" %}

{% block title %}Login{% endblock %}

{% block bodytitleoptions %}
{% endblock %}

{% block bodyheader %}
<div class="text-center my-5">
    <h1 class="bodyheadertittle">Los datos se han ingresado con exito</h1>
</div>

{% endblock %}

{% block bodyoptions %}
<div class="log">
    <div class="space2">
    </div>
    <div class="container px-5 my-5">
        <div class="row gx-5">

        </div>
    </div>
</div>
{% endblock %}

{% block bodycontact %}
{% endblock %}