{% extends "index.html" %}

{% block headertitlle %}
<title>User</title>
{% endblock %}

{% block bodytitleoptions %}
{% if user.is_authenticated %}
<div class="space">
</div>
<a style="color:white;"> User: <br>{{ user.get_username }}</a>
<div class="space">
</div>
<a class="btn btn-primary" href="{% url 'UserCoderLogOut' %}"> Logout </a>
{% endif %}
{% endblock %}

{% block bodyheader %}
<header>

    <h1 class="display-5 fw-bolder text-white mb-2">Modifique su usuario</h1>
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
    </div>
    {% endblock %}
    {% block bodyoptions %}
    <div class="space2">
    </div>
    <div class="datos-usuario">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <form class="bodyoptionstittle" id="usuarios" name="usuarios" action="" method="POST">
                    <b>
                        {% csrf_token %}
                        <table style="width:40%">
                            {% for field in formulariousuario %}
                            <tr>
                                {% if field.label == "Username" %}
                                <th>Nombre de usuario <em>*</em></th>
                                {% endif %}
                                {% if field.label == "First name" %}
                                <th>Nombre <em>*</em></th>
                                {% endif %}
                                {% if field.label == "Last name" %}
                                <th>Apellido <em>*</em></th>
                                {% endif %}
                                {% if field.label == "Email" %}
                                <th>Email <em>*</em></th>
                                {% endif %}
                                {% if field.label == "Password" %}
                                <th>Contraseña <em>*</em></th>
                                {% endif %}
                                {% if field.label == "Password confirmation" %}
                                <th>Repita la contraseña <em>*</em></th>
                                {% endif %}
                                <th>{{ field }}</th>
                            </tr>
                            {% endfor %}
                        </table>
                        <br>
                        <label style="color: black;">Los campos con * son obligatorios.</label><br>
                        <p><input type="submit" value="Modificar" onclick="validate()"/></p>
                        <br>
                    </b>
                </form>
            </div>
        </div>
    </div>
</header>
{% endblock %}