<style>
.bodyheader{
background-color:cadetblue;
text-align: center;
}
.bodyheadertittle {
  color: white;
  margin: 20px;
  padding: 20px;
}
.bodyheadertext {
  color: white;
  opacity: 0.6;
}
.space {
  width: 20px;
  height: auto;
  display: inline-block;
}
.space2 {
  height: 20px;
}

.spacelabel {
  height: 0px;
}

.log{
background-color:white;
text-align: center;
}

.bodyoptionstittle{
margin: auto;
width: 420px;
text-align: left;
color:black;
}

.bodylabel{
margin: auto;
width: 100px;
text-align: left;
color:blue;
}

.label{
width: 240px;
display: inline-block;
text-align: rigth;
}

.tabledata {
  width:100%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align:center;
}
.thdata{
  border: 1px solid black;
  border-collapse: collapse;
  text-align:center;
}
.tddata {
  border: 1px solid black;
  border-collapse: collapse;
  text-align:center;
}

.messages{
list-style: none;
background-color: #2e6da4;
color: white;
box-shadow: 12px 12 px 12px #e61c66;
text-align: center;
}

.messagesUser{
list-style: none;
background-color: #2e6da4;
color: white;
box-shadow: 12px 12 px 12px #e61c66;
text-align: left;
}
</style>