{% extends "index.html" %}

{% block headertitlle %}
<title>Literatura</title>
{% endblock %}

{% block stile %}
<style>

</style>
{% endblock %}

{% block bodytitleoptions %}
{% if user.is_authenticated %}
<div class="space">
</div>
<a style="color:white;"> User: <br>{{ user.get_username }}</a>
<div class="space">
</div>
<a class="btn btn-primary" href="{% url 'UserCoderLogOut' %}"> Logout </a>
{% endif %}
{% endblock %}

{% block bodyheader %}
<h1 style="color:white; display:inline;">Cargue los datos que desea buscar</h1>
{% endblock %}
{% block bodyoptions %}
<section>
    <div class="datos-cine">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <form class="bodyoptionstittle" action="{% url 'TPFinalCineBuscar' %}" method="post" novalidate>{% csrf_token %}
                <table style="width:40%" >
                    {% for field in buscar_cine %}
                <tr>
                    {% if  field.label  == "Nombre pelicula cine" %}
                    <th>Nombre de la pelicula </th>
                    {% endif %}
                    {% if  field.label  == "Nombre director cine" %}
                    <th>Nombre del director </th>
                    {% endif %}
                    {% if  field.label  == "Anio lanzamiento cine" %}
                    <th>Año de lanzamiento </th>
                    {% endif %}
                    <th>{{ field }}</th>
                </tr>
                {% endfor %}
            </table><br>
            <label style= "color: black;" >Los campos con * son obligatorios.</label><br>
            <input style="width: auto;" type="submit" value="Buscar">
            </form>
        </div>
    </div>
</div>
</section>

<section class="py-5 border-bottom" id="resultado">
    <div class="datos-literatura">
        <h4>Los datos encontrados son: </h4>
        <table  class="thdata" style="width:100%" >
            <tr>
                <th class="thdata">ID</th>
                <th class="thdata">Nombre</th>
                <th class="thdata">Director</th>
                <th class="thdata">Año</th>
                <th class="thdata">Eliminar</th>
                <th class="thdata">Modificar</th>
            </tr>
            {% for cine in cine %}
                <tr>
                    <td class="tddata">{{cine.id_cine}}</td>
                    <td class="tddata">{{cine.nombre_pelicula_cine}}</td>
                    <td class="tddata">{{cine.nombre_director_cine}}</td>
                    <td class="tddata">{{cine.anio_lanzamiento_cine}}</td>
                    <td class="tddata"><a href="{% url 'TPFinalCineEliminar' cine.id_cine %}">Eliminar</a></td>
                    <td class="tddata"><a href="{% url 'TPFinalCineModificar' cine.id_cine %}">Modificar</a></td>
                </tr>
            {% endfor %}

        </table>
    </div>
</section>
{% endblock %}