<!DOCTYPE html>
<html lang="en">
<head>
    {% if messages %}

{% for message in messages %}
{{ message }}
{% endfor %}

{% endif %}
    {% load static %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- Bloque para cargar el titulo del encabezado-->
    {% block headertitlle %}
    {% endblock %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'AppCode/css/styles.css' %}" rel="stylesheet"/>
    {% block stile %}
    {% endblock %}
</head>
<body>
<!-- Responsive navbar-->
{% block bodytitleoptions %}
{% endblock %}
<!-- Header-->
<!-- Bloque para cargar la primera seccion de la pagina-->
{% block bodyheader %}
{% endblock %}
<!-- Features section-->
<!-- Bloque para cargar la segunda seccion de la pagina-->
{% block bodyoptions %}
{% endblock %}
<!-- Contact section-->
{% block bodycontact %}
{% endblock %}
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'AppCode/js/scripts.js' %}"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
