{% extends "AppCoder/index.html" %}

{% block headertitlle %}
    <title>Literatura</title>
{% endblock %}

{% block bodyheader %}
  <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Cargue su literatura</h1>
                            <p class="lead text-white-50 mb-4">A continuacion cargue todos los datos de su literatura!</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="datos-literatura">
            <form style="color:white;" id="literatura" name="literatura" action="{% url 'TPFinalCrearliteratura' %}" method="POST">
                <b>
                {% csrf_token %}
                    {{ formularioliteratura.as_p }}
                <p><input type="submit" value="Submit" onclick="validate()"/></p>
                <br>
                </b>
            </form>
        </div>
        </header>
{% endblock %}
