{% extends "index.html" %}
{% include 'styles/styles.html' %}

{% block headertitlle %}
<title>Main</title>

{% endblock %}

{% block bodytitleoptions %}
{% if request.user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'UserCoderLogOut' %}"> Logout </a>
{% else %}
<a class="btn btn-primary" href="{% url 'UserCoderLogin' %}"> Login </a>
<div class="space">
</div>
<a class="btn btn-primary" href="{% url 'UserCoderLogon' %}"> Create user </a>
{% endif %}
{% endblock %}

<header class="bodyheader">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                {% block bodyheader %}
                <h1 class="bodyheadertittle">Comparta sus comentarios y conocimientos sobre literatura, musica y
                    cine.</h1>
                <p class="bodyheadertext">Una manera rapida y simple de compartir con otras personas su conocimiento y/u
                    opinion acerca de libros, musica, peliculas!!!</p>
                {% endblock %}
            </div>
        </div>
    </div>
</header>

{% block bodyoptions %}
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content space-evenly ">
            <div class="col-lg-4 mb-5 mb-lg-0 ">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                        class="bi bi-collection"></i>
                </div>
                <h2 class="h4 fw-bolder">Literatura</h2>
                <p>Como usuario usted podra crear comentarios sobre los libros, revistar, comics y no solo ver lo que
                    otros escriben.....</p>
                {% if user.is_authenticated %}
                <a class="text-decoration-none" href="{% url 'TPFinalLiteraturaCrear' %}">
                    Ir a cargar nueva literatura
                    <i class="bi bi-arrow-right"></i>
                </a>
                <br>
                <a class="text-decoration-none" href="{% url 'TPFinalLiteraturaBuscar' %}">
                    Ir a administrar mi literatura
                    <i class="bi bi-arrow-right"></i>
                </a>
                {% endif %}
                <br>
                <a class="text-decoration-none" href="{% url 'TPFinalLiteraturaBuscarVer' %}">
                    Ir a buscar literatura existente
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i>
                </div>
                <h2 class="h4 fw-bolder">Musica</h2>
                <p>Como usuario usted podra crear comentarios sobre los Musica, discos, artistas y no solo ver lo que
                    otros escriben.....</p>
                {% if user.is_authenticated %}
                <a class="text-decoration-none" href="{% url 'TPFinalMusicaCrear' %}">
                    Ir a cargar musica
                    <i class="bi bi-arrow-right"></i>
                </a>
                <br>
                <a class="text-decoration-none" href="{% url 'TPFinalMusicaBuscar' %}">
                    Ir a administrar mi musica
                    <i class="bi bi-arrow-right"></i>
                </a>
                {% endif %}
                <br>
                <a class="text-decoration-none" href="{% url 'TPFinalMusicaBuscarVer' %}">
                    Ir a buscar musica existente
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 ">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i>
                </div>
                <h2 class="h4 fw-bolder">Cine</h2>
                <p>Como usuario usted podra crear comentarios sobre los peliculas, series, etc.. y no solo ver lo que
                    otros escriben.....</p>
                {% if user.is_authenticated %}
                <a class="text-decoration-none" href="{% url 'TPFinalCineCrear' %}">
                    ir a cargar films
                    <i class="bi bi-arrow-right"></i>
                </a>
                <br>
                <a class="text-decoration-none" href="{% url 'TPFinalCineBuscar' %}">
                    ir a administrar mis films
                    <i class="bi bi-arrow-right"></i>
                </a>
                {% endif %}
                <br>
                <a class="text-decoration-none" href="{% url 'TPFinalCineBuscarVer' %}">
                    Ir a buscar films existentes
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <br>
            <br>
            <!--para que un super user pueda administrar usuarios-->
            {% if user.is_authenticated and user.is_superuser%}
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                        class="bi bi-collection"></i>
                </div>
                <h2 class="h4 fw-bolder">Usuarios</h2>
                <p>Dentro de esta opción usted podrá administrar usuarios.</p>
                <a class="text-decoration-none" href="{% url 'TPFinalUsuariosCrear' %}">
                    ir a crear usuarios
                    <i class="bi bi-arrow-right"></i>
                </a>
                <br>
                <a class="text-decoration-none" href="{% url 'TPFinalUsuariosBuscar' %}">
                    ir a administrar usuarios existentes
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block bodycontact %}
<section class="bg-light py-5" id="contact">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
            </div>
            <h2 class="fw-bolder">Pongase en contacto</h2>
            <p class="lead mb-0">Nos encantaria conocer su opinion.</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-3">
                        <form id="fcf-form-id" class="fcf-form-class" method="post" action="{% url 'Contact' %}">
                            {% csrf_token %}

                            <div class="fcf-form-group">
                                <label for="Name" class="fcf-label">Ingrese su nombre</label>
                                <div class="fcf-input-group">
                                    <input type="text" id="Name" name="Name" class="fcf-form-control" required>
                                </div>
                            </div>

                            <div class="fcf-form-group">
                                <label for="Email" class="fcf-label">Ingrese su email</label>
                                <div class="fcf-input-group">
                                    <input type="email" id="Email" name="Email" class="fcf-form-control" required>
                                </div>
                            </div>

                            <div class="fcf-form-group">
                                <label for="Email" class="fcf-label">Ingrese un titulo</label>
                                <div class="fcf-input-group">
                                    <input type="text" id="Subject" name="Subject" class="fcf-form-control" required>
                                </div>
                            </div>

                            <div class="fcf-form-group" >
                                <label for="Message" class="fcf-label">Ingrese su mensaje</label>
                                <div class="fcf-input-group">
                                    <textarea id="Message" name="Message"  rows="6"
                                              maxlength="3000" required></textarea>
                                </div>
                            </div>

                            <div class="fcf-form-group" >
                                <button type="submit" id="fcf-button"
                                        class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Send Message
                                </button>
                            </div>
                        </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

