{% extends "AppCoder/index.html" %}

{% block headertitlle %}
    <title>User</title>
{% endblock %}

{% block bodytitleoptions %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!">Inventario personal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="main.html">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
{% endblock %}

{% block bodyheader %}
    <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Cree su usuario</h1>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Crear usuario</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="#!">Ingresar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="datos-usuario">
            <form id="Libros" name="Libros" action="{% url 'TPFinalMostrarUsuarios' %}" method="POST"> {% csrf_token %}
                <br>
                <p style="color:white;"><b>Ingrese su nombre: </b><input type="text" name="nombre_usuario" required placeholder="ej: Fernando"/></p>
                <p style="color:white;"><b>Ingrese su apellido: </b><input type="text" name="apellido_usuario" required placeholder="ej: Otero"/></p>
                <p style="color:white;"><b>Fecha de nacimiento: </b><input type="text" name="fecha_nacimiento_usuario" required placeholder="ej: 01/01/1980"/></p>
                <p style="color:white;"><b>Ingrese su email: </b><input type="text" name="email_usuario" required placeholder="ej: fernando@gmail.com"/></p>
                <p><input type="submit" value="Cargar Libro" onclick="return onclick="validate()"/></p>
                <br>
            </form>
        </div>
    </header>
{% endblock %}