{% extends "index.html" %}

{% block headertitlle %}
<title>Musica</title>
{% endblock %}

{% block stile %}
<style>
</style>
{% endblock %}

{% block bodytitleoptions %}
{% if user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'UserCoderLogOut' %}"> Logout </a>
{% endif %}
{% endblock %}

{% block bodyheader %}
<h1 style="color:white; display:inline;">Cargue los datos que desea buscar</h1>
{% endblock %}
{% block bodyoptions %}
<section>
    <div class="datos-musica">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <form class="bodyoptionstittle" action="{% url 'TPFinalMusicaBuscar' %}" method="post" novalidate>{% csrf_token %}
                <table style="width:40%" >
                    {% for field in buscar_musica %}
                <tr>
                    {% if  field.label  == "Nombre artista musica" %}
                    <th>Nombre artista </th>
                    {% endif %}
                    {% if  field.label  == "Nombre disco musica" %}
                    <th>Nombre disco </th>
                    {% endif %}
                    {% if  field.label  == "Anio lanzamiento musica" %}
                    <th>Año de lanzamiento </th>
                    {% endif %}
                    <th>{{ field }}</th>
                </tr>
                {% endfor %}
            </table><br>
            <label style= "color: black;" >Los campos con * son obligatorios.</label><br>
            <input style="width: auto;" type="submit" value="Buscar">
            </form>
        </div>
    </div>
</div>
</section>

<section class="py-5 border-bottom" id="resultado">
    <div class="datos-musica">
        <h4>Los datos encontrados son: </h4>
        <table class="thdata" style="width:100%">
            <tr>
                <th class="thdata">ID</th>
                <th class="thdata">Imagen</th>
                <th class="thdata">Artista</th>
                <th class="thdata">Disco</th>
                <th class="thdata">Año</th>
                <th class="thdata">Eliminar</th>
                <th class="thdata">Modificar</th>
            </tr>
            {% for musica in musica %}
            <tr>
                <td class="tddata">{{musica.id_musica}}</td>
                {% if  musica.imagenmusica.imgmus.url  != "" %}
                <td class="tddata"><img src="{{ musica.imagenmusica.imgmus.url }}" alt="" width="40px" height="40px"></td>
                {% else %}
                <td class="tddata">No image</td>
                {% endif %}
                <td class="tddata">{{musica.nombre_artista_musica}}</td>
                <td class="tddata">{{musica.nombre_disco_musica}}</td>
                <td class="tddata">{{musica.anio_lanzamiento_musica}}</td>
                <td class="tddata"><a href="{% url 'TPFinalMusicaEliminar' musica.id_musica %}">Eliminar</a></td>
                <td class="tddata"><a href="{% url 'TPFinalMusicaModificar' musica.id_musica  %}">Modificar</a></td>
            </tr>
            {% endfor %}

        </table>
    </div>
</section>
{% endblock %}